#counter-div {
    width: 247px;
}

#counter-div h2 {
    text-align: center;
}

#counter-div > table tr:nth-child(2) td {
    text-align: center;
}

#counter-span {
    padding: 12px;
    background: yellow;
}